@import url('https://fonts.googleapis.com/css?family=Montserrat');
.Register {
  background-color: #01B9BD;  
  height: 644px;  
  width: 533px; 
  border-radius: 12px; 
  font-family: 'Montserrat', sans-serif; 
}

.Register .heading-title{
  color: white;
  margin: 0;
  
}
.Register .heading-step{
  padding-top: 50px;
  padding-bottom: 10px;
  
}

.Register .input-line{
  color: white;
  margin: 0;
  margin: 10px;
}


.Register .input-line input{
  color: white;
  background-color: transparent;
  border: 0;
  border-bottom:solid 1px white;
  margin: 0;
  width: 390px;
  height: 40px;
  font-size: 20px;
}
.Register .button-next{
  color: white;
  background-color: #0DABAF;
  height: 57px; 
  width: 197px;
}

.Register .MuiInput-underline-21::before{
  background-color:transparent;
}
.Register .MuiInput-inkbar-17::after{
  background-color: white;
}
.Register .input-line label{
  color: white;
}
.Register .input-image-container { 
  height: 269px;  
  width: 269px; 
  background-color: #FFFFFF;  
  box-shadow: 0 2px 12px 3px rgba(0,0,0,0.14);
  margin: auto;
  border-radius: 100%;
  display: flex;
}
.Register .input-image{ 
  height: 236px;  
  width: 236px;
  border-radius: 100%;
  margin: auto;
}