@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
.oval {	
    height: 269px;	
    width: 269px;	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 12px 3px rgba(0,0,0,0.14);
    border-radius: 50%;
    padding: 17px;
}

.oval-4 {
    border-radius: 50%;	
    height: 236px;	
    width: 236px;
    display: flex;
}

.oval-4 img {
    border-radius: 50%;
    align-self: center;	
}
.settings-component .user-details .item-detail{
    display: inline-flex;
}
.settings-component .user-details {
    text-align: center;
    align-self: center;
    margin: auto;
}

.settings-component .settings-label{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004853;
}
.settings-component .settings-label .settings-label-heading{
    margin-right: 20px;
}
.settings-component .edit{
    cursor: pointer;
}

.settings-component .settings-label .settings-label-email{
    font-family: "Roboto",sans-serif!important;
    font-weight: 300;
    font-size:20px;
}
.settings-component .settings-label .settings-label-name{
    font-family: "Roboto",sans-serif!important;
    font-weight: 700;
}

.profile-picture {
    display: inline-block;
}

.edit {
    font-size: 26px;
}

h2, h3, .edit {
    color: #4A4A4A;
}

.user-name {
    padding-top: 30px;
    text-align: center;
    
}
.user-email {
    padding-bottom: 42px;
}

.user-detail {
    font-family: 'Montserrat'
}
