@import url('https://fonts.googleapis.com/css?family=Montserrat');

.welcome-to-the {
	height: 67px;
	width: 424px;
	color: #004853;
	font-family: "Avenir Next";
	font-size: 30px;
	font-weight: 600;
	line-height: 41px;
	text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;

}
